body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 18px;
    padding: 0.9em;
    background-color: #726a95;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 30px;
}

.button:active {
    transform: scale(0.9);
}